.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.background-container {
    position: relative;
    z-index: 1;
}

button {
    padding: 10px 20px;
    background-color: #ffb6c1; /* Rosa pastel */
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive; /* Fuente elegante */
}

.heart {
    margin-left: 5px;
    font-size: 18px;
    color: #ff6b81; /* Otro tono de rosa */
}

/* Cambia el color del texto del botón cuando se coloca el cursor encima */
button:hover {
    background-color: #ff6b81;
}

/* INFO BUTTON */
.small-info-button {
    padding: 3px; /* Adjust the padding to make the button even smaller */
    background-color: transparent; /* Rosa pastel */
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 40px; /* Set a specific width */
    height: 40px; /* Set a specific height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-info-button img {
    max-width: 100%;
    height: auto;
}

/* container info butoon */
.info-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffb6c1; /* Rosa pastel */
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    text-align: center;
}

.info-container p {
    margin: 10px 0;
}

.info-container button {
    background-color: #ff6b81;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

  
  
  
  


