.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.background-container {
    position: relative;
    z-index: 1;
}

button {
    padding: 10px 20px;
    background-color: #ffb6c1; /* Rosa pastel */
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive; /* Fuente elegante */
}

.heart {
    margin-left: 5px;
    font-size: 18px;
    color: #ff6b81; /* Otro tono de rosa */
}

/* Cambia el color del texto del botón cuando se coloca el cursor encima */
button:hover {
    background-color: #ff6b81;
}

/* INFO BUTTON */
.small-info-button {
    padding: 3px; /* Adjust the padding to make the button even smaller */
    background-color: transparent; /* Rosa pastel */
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 40px; /* Set a specific width */
    height: 40px; /* Set a specific height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-info-button img {
    max-width: 100%;
    height: auto;
}

/* container info butoon */
.info-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffb6c1; /* Rosa pastel */
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    text-align: center;
}

.info-container p {
    margin: 10px 0;
}

.info-container button {
    background-color: #ff6b81;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

  
  
/* IMAGEN AVATAR */
.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegúrate de que la imagen esté en un z-index superior que el fondo */
    width: 800px; /* Ancho deseado en píxeles */
    height: auto; /* Esto mantiene la proporción de la imagen */
}

/* IMAGEN ROPA */
.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Asegúrate de que la imagen esté en un z-index superior que el AVATAR */
    width: 800px; /* Ancho deseado en píxeles */
    height: auto; /* Esto mantiene la proporción de la imagen */
}


/* BUTTON BACK I NEXT */
.button-container {
    display: flex;
    flex-direction: column; /* Cambia la dirección del contenedor a vertical */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    background: linear-gradient(45deg, #ffffcc, #ffcc99); /* Fondo degradado amarillo pastel */
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    width: 150px; /* Ancho deseado para el contenedor */
}

.button-title {
    margin: 0;
    font-size: 18px;
    color: #ff6b81; /* Color de título personalizado */
}

.avatar-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #ff6b81; /* Color de botón personalizado */
    font-size: 16px;
    margin-top: 5px; /* Espacio entre los botones */
}


/* BUTTON DOWNLOAD */
.boton-descarga {
    background-color: pink; /* Color de fondo rosa pastel */
    border: 2px solid pink; /* Borde redondeado */
    border-radius: 10px; /* Radio de borde redondeado */
    padding: 10px 20px; /* Espaciado interior del botón */
    color: white; /* Color de texto blanco */
    text-align: center; /* Centrar el texto horizontalmente */
    text-decoration: none; /* Eliminar el subrayado del enlace */
    position: fixed; /* Posición fija */
    bottom: 10px; /* Alineación en la parte inferior */
    right: 10px; /* Alineación a la derecha */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

.boton-descarga:hover {
    background-color: #ff6b81; /* Color de fondo amarillo pastel al pasar el ratón */
    border: 2px solid #ff6b81; /* Borde amarillo pastel al pasar el ratón */
}




